.article{
    display: flex;
    flex-direction: column;

    &--size{

    }

    &__tag{
        cursor: pointer;
        color: white;
        margin: 0 30px 30px 0;
        padding: 10px;
        border-radius: 30px;
        font-size: 12px;

        &--size{
            width: auto;
        }

        &--theme{
            background-color: black;
        }
    }

    &__para{
        margin: 50px 0;
        font-size: 14px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px){
    .center{
        width: 100%;
        padding: 50px;
        display: flex;
    }
}

@media only screen and (max-width: 900px){
    .center{
        width: 100%;
        padding: 20px;
        display: flex;
    }
}

@media only screen and (max-width: 730px){
    .article{
        // padding: 10px;

        &__image--size{
            width: 100%;
        }

        &__description{
            margin-top: 20px
        }

        &__para{
            margin: 0;
            padding:0 15px;
        }
    }

    .flex--row{
        flex-direction: column;
    }
}

