.news{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


@media only screen and (max-width: 900px){
    .news{
        justify-content: center;
        align-items: center;
    }
}