.navbar{
    display: flex;
    padding: 30px 0;

    &--size{
        height: 100px;
        width: 100%;
    }

    &__name{
        text-decoration: none;
        color: black;
    }
}

.center{
    width: 70%;
    margin: auto;
}