.newsitem{
    box-shadow: 10px 10px 10px 10px #EDEDED;
    margin: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover{
        transform: scale(1.03);
    }

    &--size{
        min-width: 200px;
        width: 200px;
        min-height: 300px;
    }

    &--theme{

    }

    &__image{

        &--size{
            height: 200px;
            width: auto;
        }
    }
}

@media only screen and (max-width: 600px){
    .newsitem{
        margin: 0px;
        box-shadow: none;

        &--size{
            width: 100%;
        }
    }
}